<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div>
    <div th:each="user : ${users}">
        <h1 th:text="${user.toString()}"></h1>
        <h3><a th:href="@{'/update?id=' + ${user.getId()}}">Update this user</a></h3>
        <h3><a th:href="@{'/delete?id=' + ${user.getId()}}">Delete this user</a></h3>
        </br>
    </div>
    <h2><a href="/spring_mvc_war/create">Create new user</a></h2>
</div>
</body>
</html>