<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div>
    <div th:each="user : ${users}">
        <h1 th:text="${user.toString()}"></h1>
    </div>
    <form th:method="POST" th:action="@{/create}" th:object="${user}">
        <label for="name">Enter name: </label>
        <input type="text" th:field="*{name}" id="name"/>
        <br/>
        <label for="email">Enter email: </label>
        <input type="text" th:field="*{email}" id="email"/>
        <br/>
        <input type="submit" value="Create"/>
    </form>
    <form th:method="POST" th:action="@{/update}" th:object="${user}">
        <label for="id">Update by id: </label>
        <input type="text" th:field="*{id}" id="id"/>
        <br/>
        <label for="name">Enter name: </label>
        <input type="text" th:field="*{name}" id="name"/>
        <br/>
        <label for="email">Enter email: </label>
        <input type="text" th:field="*{email}" id="email"/>
        <br/>
        <input type="submit" value="Update"/>
    </form>
    <form th:method="POST" th:action="@{/delete}" th:object="${user}">
        <label for="id">Delete by id: </label>
        <input type="text" th:field="*{id}" id="id"/>
        <br/>
        <input type="submit" value="Delete"/>
    </form>
</div>
</body>
</html>